# ignore testing_data
testing_data/

DATA/

FENNEC-25_26/Justin_Hawk/FENNEC_3D_Code/utils/

# ignore DATA folder
Justin_Hawk/DATA/

# ignore .DS_Store
.DS_Store

# ignore saved models
saved_models/

# ignore config files
.json
