# ignore testing_data
testing_data/

# ignore DATA folder
data/

# ignore .DS_Store
.DS_Store

# ignore saved models
saved_models/

# ignore config files
.json

Justin_Hawk\FENNEC_3D_Code\raw_3D_data\

Justin_Hawk\FENNEC_3D_Code\processed_data\

Justin_Hawk\FENNEC_3D_Code\flight_removed_from_raw_data\

Justin_Hawk\FENNEC_3D_Code\individual_testflight\